body[data-theme="dark"] .dropdown-content li > a,
body[data-theme="dark"] .dropdown-content li > span {
    color: #fff;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.select2-search__field {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.select2-selection.select2-selection--single {
    height: 3rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    color: #000;
    font-size: 16px;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 12px;
}

.select2-search.select2-search--dropdown {
    padding-left: 1rem;
    padding-right: 1rem;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: none;
}

.select2-container--default .select2-results__group {
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: bold;
}

.select2-container--default .select2-results__option .select2-results__option {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
