@media only screen and (max-width: 600px) {
    .s-flex-start {
        justify-content: flex-start !important;
    }
}

@media only screen and (min-width: 800px) {
    .m-right-align {
        text-align: right;
    }
}
